<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Documentation</title>
</head>
<body>

<h1>API Documentation</h1>

<hr>

<h2>Django REST Framework builtin browsable API</h2>
<h3>
  <a href="/api/?format=api" target="_blank">
    HTML
  </a>
</h3>
<h3>
  <a href="/api/?format=json" target="_blank">
    JSON
  </a>
</h3>

<hr>

<h2>OpenAPI HTML front-ends clients</h2>
<h3>
  <a href="{% url 'swagger-ui' %}" target="_blank">
    Swagger UI
  </a>
</h3>
<h3>
  <a href="{% url 'redoc' %}" target="_blank">
    Redoc
  </a>
</h3>

</body>
</html>
